<div class="contenuto">
<form *ngIf="!oldTodo" class="form-container">
<h4>Oops, non ci sono Task</h4>
</form>

<div *ngIf="loading">
  Recupero Task...
</div>

<div *ngIf="oldTodo">
  <div class="container"  *ngIf="!loading">
    <h4>- imparare angular</h4>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxElEQVR4nO2UwQ7CIAxA+RwP8+aZcnTxbMt+1vaqn7GZmHnzCzSMgzNuBLaRaLImDSfeKy2g1BopYU72AEJXI/SclthooXJcINhMh5NPxjogmAkXn/8lAMYHMJ2zCICxBcai28t0WVQAPbhb3UmWEzDdtRy3Hl5tjNAtuUWur/2qApW3yUN28CEARMAjBe5mfIIgEp7Qoi9gEQNPGzK/hzk20NkPDbqT2J3PcOVZXrL5MQHm/a61UDlLwlgD2/2oYA01EC+XuL/3Q0dXtwAAAABJRU5ErkJggg==">
  </div>
  <div class="container" *ngIf="!loading">
    <h4>- inserire funzione add</h4>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxElEQVR4nO2UwQ7CIAxA+RwP8+aZcnTxbMt+1vaqn7GZmHnzCzSMgzNuBLaRaLImDSfeKy2g1BopYU72AEJXI/SclthooXJcINhMh5NPxjogmAkXn/8lAMYHMJ2zCICxBcai28t0WVQAPbhb3UmWEzDdtRy3Hl5tjNAtuUWur/2qApW3yUN28CEARMAjBe5mfIIgEp7Qoi9gEQNPGzK/hzk20NkPDbqT2J3PcOVZXrL5MQHm/a61UDlLwlgD2/2oYA01EC+XuL/3Q0dXtwAAAABJRU5ErkJggg==">
  </div>
</div>

<div id="bottone">
<input type="text" placeholder="Title" [(ngModel)]="newTodo.title" name="title">
<button (click)="save()">+</button>
</div>


<table *ngIf="todos && todos.length > 0">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let t of todos">
    <td>{{t.id}}</td>
    <td>{{t.title}}</td>
    <td>
      <button (click)="deleteTodo(t.id)">Delete</button>
    </td>
  </tr>
</table>
</div>
