#immagine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    
}

#part{
    text-align: center;
    color: green;
    background-color: beige;
    ;
}

#content{
    width: 50%;
    text-align: left;
    margin: auto;
}




.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sally{
    text-align: center;}



