body{
    background: linear-gradient(to right, #0099FF, #8557d3);
    color: #ffffff;
}

header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    color:#ffffff;
    font-weight: bold;
    font-size: 18px;
}

.nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.container0 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}




h2{
    color: black;
}

input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

.btn-primary{
    background: linear-gradient(to right, #0099FF, #8557d3);
    border-color: #0099FF;
    font-weight: bold;
}

.logo {
    margin-left: 15%;
}